* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.checkToogle{
display: none;
}
.navToogle{
  color: white;
  margin-left: 20px;
  position: relative;
  display: none;
}
.navContainer {
  display: flex;
  flex-direction: row;
  padding: 0px 100px 0px 100px;
  padding-top: 30px;
  justify-content: space-between;
  color: white;
  background-color: #040c18;
}
/* .leftContainer{
    flex: 8;
} */
.leftContainer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.leftContainer ul li {
  list-style: none;
  font-size: 14;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
  padding-right: 25px;
}
/* .rightContainer{
    flex: 4;
} */

.rightContainer {
  justify-content: space-between;
}

.rightContainer span {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}
.rightContainer button {
  padding: 10px 45px;
  color: white;
  background-color: #ff4820;
  border: none;
  border-radius: 10px;
  margin-left: 50px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  cursor: pointer;
}
.navBodyContainer {
  display: flex;
  flex-direction: row;
  padding: 30px 100px 0px 100px;
  justify-content: space-between;
  align-items: center;
  background-color: #040c18;
}
.leftBodyContainer {
  flex: 7;
  align-content: flex-start;
}
.rightNavContainer {
  flex: 5;
  align-items: flex-end;
}
.leftBodyContainer h1 {
  background-image: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 55px;
  line-height: 1.3;
  font-weight: 800;
  text-transform: capitalize;
}
.leftBodyContainer p {
  color: #81afdd;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 10px;
}
.signupContainer {
  align-items: center;
  display: flex;
}
.signupContainer input {
  padding-top: 20px;
  padding-bottom: 20px;
  /* border: 1px solid  #81AFDD; */
  align-items: center;
  justify-content: center;
  width: 70%;
  background-color: #052d56;
  border: none;
  color: white;
}

input[type="text"]:focus {
  border: none;
  outline: none;
  padding-left: 10px;
}
.signupContainer ::placeholder {
  padding-left: 10px;
  text-transform: capitalize;
  align-items: center;
  color: white;
}
.signupContainer button {
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  border: none;
  background-color: #ff4820;
  color: white;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.image {
  width: 100%;
  object-fit: cover;
  margin-left: 30px;
}

.sponsorContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background-color: #040c18;
}
.sponsorContainer img {
  padding: 20px;
  object-fit: cover;
  width: 10%;
}

/* nav mobile styling  */
@media screen and (max-width: 960px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  .mainNavContentContainer {
    overflow-x: hidden;
    width: 100%;
    background-color: #040c18;
    padding-top: 20px;

  }
  .navContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 40px 20px 10px 20px;

  }
  .navToogle{
    display: block;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    /* background: transparent; */
    /* z-index: -999; */
    /* opacity: 0.5; */

  }
 .checkToogle{
  position: absolute;
  margin-left: 25px;
  margin-top: -24px;
  display: block;
  /* z-index: 999999; */
  cursor: pointer;
  transition: all 1s ease-in;
  opacity: 0;
 }
 

  .checkToogle:checked ~ #toogleContainer{
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    transition: all 1s ease;
    position: fixed;
  }
  #toogleContainer{
    display: none;
  }
  .leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }
  .leftContainer ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .leftContainer ul li {
    display: flex;
    padding-bottom: 20px;
  }
  .rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .rightContainer {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .rightContainer span {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
  }
  .rightContainer button {
    padding: 10px 30px;
    color: white;
    background-color: #ff4820;
    border: none;
    border-radius: 10px;
    margin-left: 30px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    cursor: pointer;
  }
  .navBodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 0px 20px;
    background-color: #040c18;
  }
  .leftBodyContainer {
    flex: 7;
    align-content: flex-start;
  }
  .rightNavContainer {
    flex: 5;
    align-items: flex-end;
  }
  .leftBodyContainer h1 br {
    display: none;
  }
  .leftBodyContainer h1 {
    background-image: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
    background-clip: text;
    scroll-behavior: initial;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    line-height: 1.3;
    font-weight: 800;
    text-transform: capitalize;
  }
  .leftBodyContainer p {
    color: #81afdd;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .signupContainer {
    align-items: center;
    display: flex;
  }
  .signupContainer input {
    padding-top: 15px;
    padding-bottom: 15px;
    /* border: 1px solid  #81AFDD; */
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: #052d56;
    border: none;
    color: white;
  }

  input[type="text"]:focus {
    border: none;
    outline: none;
    padding-left: 11px;
  }
  .signupContainer ::placeholder {
    padding-left: 10px;
    text-transform: capitalize;
    align-items: center;
    color: white;
  }
  .signupContainer button {
    padding-top: 7px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 7px;
    border: none;
    background-color: #ff4820;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  .image {
    width: 95%;
    object-fit: cover;
  }

  .sponsorContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    background-color: #040c18;
    padding: 0px 20px;
  }
  .sponsorContainer img {
    padding: 20px;
    object-fit: cover;
    width: 20%;
  }
}
